<div class="post-category-container">

  @if (!showAddForm) {

    <div class="page-header">

      <div>

        <h2>Post Categories</h2>

        <p>Manage post categories</p>

      </div>

      <button
        type="button"
        (click)="openAddPostCategory()">

        + Add Post Category

      </button>

    </div>


    <app-data-table

      [columns]="columns"

      [data]="postCategories"

      [loading]="loading"

      [pageNumber]="pageNumber"

      [pageSize]="pageSize"

      [totalRecords]="totalRecords"

      [showSearch]="true"

      (searchChange)="onSearch($event)"

      (pageChange)="onPageChange($event)"

      (pageSizeChange)="onPageSizeChange($event)">

    </app-data-table>

  }


  @if (showAddForm) {

    <app-global-form

      [title]="'Add Post Category'"

      [model]="postCategoryModel"

      [fields]="formFields"

      [buttons]="formButtons"

      [loading]="saving"

      (submitForm)="addPostCategory($event)"

      (cancelForm)="cancelAddPostCategory()">

    </app-global-form>

  }

</div>