<div class="post-type-container">

  @if (!showAddForm) {

    <div class="page-header">

      <div>

        <h2>Post Types</h2>

        <p>Manage post types</p>

      </div>

      <button
        type="button"
        (click)="openAddPostType()">

        + Add Post Type

      </button>

    </div>


    <app-data-table

      [columns]="columns"

      [data]="travelTypes"

      [loading]="loading"

      [pageNumber]="pageNumber"

      [pageSize]="pageSize"

      [totalRecords]="totalRecords"

      [showSearch]="true"

      (searchChange)="onSearch($event)"

      (pageChange)="onPageChange($event)"

      (pageSizeChange)="onPageSizeChange($event)">

    </app-data-table>

  }


  @if (showAddForm) {

    <app-global-form

      [title]="'Add Post Type'"

      [model]="postTypeModel"

      [fields]="formFields"

      [buttons]="formButtons"

      [loading]="saving"

      (submitForm)="addPostType($event)"

      (cancelForm)="cancelAddPostType()">

    </app-global-form>

  }

</div>