<aside class="sidebar" [class.collapsed]="collapsed" [class.mobile-open]="mobileOpen">


  <div class="sidebar-brand">

    <a routerLink="/SuperAdminDashboard" class="brand-link" (click)="closeOnNavigation()">

      <div class="brand-icon">
        <i class="fa fa-plane"></i>
      </div>

      <div class="brand-info">

        <h2>
          Shah<span>Traveling</span>
        </h2>

        <small>
          Super Admin
        </small>

      </div>

    </a>

  </div>



  <nav class="sidebar-navigation">


    <div class="navigation-title">
      MAIN
    </div>


    <!-- DASHBOARD -->

    <a routerLink="/SuperAdminDashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="navigation-item" title="Dashboard" (click)="closeOnNavigation()">

      <i class="fa fa-dashboard"></i>

      <span>
        Dashboard
      </span>

    </a>


    <div class="navigation-title">
      MANAGEMENT
    </div>


    <button type="button"  class="navigation-group" [class.expanded]="managementOpen" (click)="toggleManagement()"
      title="Management">

      <span class="navigation-group-left">

        <i class="fa fa-th-large"></i>

        <span>
          Management
        </span>

      </span>

      <i class="fa fa-chevron-down group-arrow" [class.rotate]="managementOpen"></i>

    </button>


    @if (managementOpen) {

    <div class="navigation-submenu">


      <a routerLink="/SuperAdminDashboard/registerUsers" routerLinkActive="active" class="navigation-subitem"
        title="Register Users" (click)="closeOnNavigation()">

       <i class="fa fa-users"></i>

        <span>
          Register Users
        </span>

      </a>

      <a routerLink="/SuperAdminDashboard/branches" routerLinkActive="active" class="navigation-subitem"
        title="Branches" (click)="closeOnNavigation()">

      <i class="fa fa-building"></i>

        <span>
          Branches
        </span>

      </a>

  



      <button type="button" class="navigation-group navigation-nested-group" [class.expanded]="regionsOpen"
        (click)="toggleRegions()" title="Regions">

        <span class="navigation-group-left">

          <i class="fa fa-globe"></i>

          <span>
            Regions
          </span>

        </span>

        <i class="fa fa-chevron-down group-arrow" [class.rotate]="regionsOpen"></i>

      </button>


      @if (regionsOpen) {

      <div class="navigation-submenu navigation-nested-submenu">

        <!-- COUNTRIES -->

        <a routerLink="/SuperAdminDashboard/Countries" routerLinkActive="active" class="navigation-subitem"
          title="Countries" (click)="closeOnNavigation()">

          <i class="fa fa-flag"></i>

          <span>
            Countries
          </span>

        </a>


        <!-- PROVINCES -->

        <a routerLink="/SuperAdminDashboard/Provinces" routerLinkActive="active" class="navigation-subitem"
          title="Provinces" (click)="closeOnNavigation()">

          <i class="fa fa-map"></i>

          <span>
            Provinces
          </span>

        </a>


        <!-- CITIES -->

        <a routerLink="/SuperAdminDashboard/Cities" routerLinkActive="active" class="navigation-subitem" title="Cities"
          (click)="closeOnNavigation()">

          <i class="fa fa-map-marker"></i>

          <span>
            Cities
          </span>

        </a>

      </div>

      }


      <a routerLink="/SuperAdminDashboard/destinations" routerLinkActive="active" class="navigation-subitem"
        title="Destinations" (click)="closeOnNavigation()">

        <i class="fa fa-globe"></i>

        <span>
          Destinations
        </span>

      </a>

      <button type="button" class="navigation-group navigation-nested-group" [class.expanded]="contentOpen"
        (click)="toggleContent()" title="Content">

        <span class="navigation-group-left">

          <i class="fa fa-file-text-o"></i>

          <span>
            Content
          </span>

        </span>

        <i class="fa fa-chevron-down group-arrow" [class.rotate]="contentOpen"></i>

      </button>


      @if (contentOpen) {

      <div class="navigation-submenu navigation-nested-submenu">

        <!-- POST TYPES -->

        <a routerLink="/SuperAdminDashboard/PostTypes" routerLinkActive="active" class="navigation-subitem"
          title="Post Types" (click)="closeOnNavigation()">

          <i class="fa fa-file-text-o"></i>

          <span>
            Post Types
          </span>

        </a>


        <!-- POST CATEGORIES -->

        <a routerLink="/SuperAdminDashboard/PostCategories" routerLinkActive="active" class="navigation-subitem"
          title="Post Categories" (click)="closeOnNavigation()">

          <i class="fa fa-tags"></i>

          <span>
            Post Categories
          </span>

        </a>

      </div>

      }



      <a routerLink="/SuperAdminDashboard/Airlines" routerLinkActive="active" class="navigation-subitem"
        title="Airlines" (click)="closeOnNavigation()">

        <i class="fa fa-plane"></i>

        <span>
          Airlines
        </span>

      </a>

      <a routerLink="/SuperAdminDashboard/Airports" routerLinkActive="active" class="navigation-subitem"
        title="Airlines" (click)="closeOnNavigation()">

        <i class="fa fa-plane"></i>

        <span>
          Airports
        </span>

      </a>


      <a routerLink="/SuperAdminDashboard/Services" routerLinkActive="active" class="navigation-subitem"
        title="Services" (click)="closeOnNavigation()">

        <i class="fa fa-cogs"></i>

        <span>
          Services
        </span>

      </a>



      <a routerLink="/SuperAdminDashboard/passengerTypes" routerLinkActive="active" class="navigation-subitem"
        title="Services" (click)="closeOnNavigation()">

        <i class="fa fa-cogs"></i>

        <span>
          Passenger Types
        </span>

      </a>

      <a routerLink="/SuperAdminDashboard/packages" routerLinkActive="active" class="navigation-subitem"
        title="Travel Packages" (click)="closeOnNavigation()">

        <i class="fa fa-suitcase"></i>

        <span>
          Travel Packages
        </span>

      </a>

    </div>

    }



    <div class="navigation-title">
      FINANCE
    </div>


    <button type="button" class="navigation-group" [class.expanded]="financeOpen" (click)="toggleFinance()"
      title="Finance">

      <span class="navigation-group-left">

        <i class="fa fa-money"></i>

        <span>
          Finance
        </span>

      </span>

      <i class="fa fa-chevron-down group-arrow" [class.rotate]="financeOpen"></i>

    </button>


    @if (financeOpen) {

    <div class="navigation-submenu">


      <!-- PAYMENTS -->

      <a routerLink="/SuperAdminDashboard/payments" routerLinkActive="active" class="navigation-subitem"
        title="Payments" (click)="closeOnNavigation()">

        <i class="fa fa-credit-card"></i>

        <span>
          Payments
        </span>

      </a>


      <!-- REPORTS -->

      <a routerLink="/SuperAdminDashboard/reports" routerLinkActive="active" class="navigation-subitem" title="Reports"
        (click)="closeOnNavigation()">

        <i class="fa fa-bar-chart"></i>

        <span>
          Reports
        </span>

      </a>

    </div>

    }

    <div class="navigation-title">
      SYSTEM
    </div>


    <button type="button" class="navigation-group" [class.expanded]="systemOpen" (click)="toggleSystem()"
      title="System">

      <span class="navigation-group-left">

        <i class="fa fa-cog"></i>

        <span>
          System
        </span>

      </span>

      <i class="fa fa-chevron-down group-arrow" [class.rotate]="systemOpen"></i>

    </button>


    @if (systemOpen) {

    <div class="navigation-submenu">


      <!-- USERS -->

      <a routerLink="/SuperAdminDashboard/users" routerLinkActive="active" class="navigation-subitem" title="Users"
        (click)="closeOnNavigation()">

        <i class="fa fa-user-circle"></i>

        <span>
          Users
        </span>

      </a>


      <!-- SETTINGS -->

      <a routerLink="/SuperAdminDashboard/settings" routerLinkActive="active" class="navigation-subitem"
        title="Settings" (click)="closeOnNavigation()">

        <i class="fa fa-cog"></i>

        <span>
          Settings
        </span>

      </a>

    </div>

    }

  </nav>


  <div class="sidebar-footer">

    <button type="button" class="sidebar-action" title="Help & Support">

      <i class="fa fa-question-circle"></i>

      <span>
        Help & Support
      </span>

    </button>


    <button type="button" class="sidebar-action logout" title="Logout" (click)="logout()">

      <i class="fa fa-sign-out"></i>

      <span>
        Logout
      </span>

    </button>

  </div>

</aside>


<div class="sidebar-overlay" [class.active]="mobileOpen" (click)="closeMobileSidebar()"></div>