<div class="airports-page">

    <!-- =====================================================
       PAGE HEADER
  ====================================================== -->

    <section class="page-header">

        <div class="header-content">

            <div class="header-eyebrow">
                <span class="eyebrow-line"></span>

                <span>
                    SHAH TRAVELING AGENCY
                </span>

                <span class="eyebrow-line"></span>
            </div>

            <h1>
                Airports
            </h1>

            <p>
                Add and manage airports used by Shah Traveling Agency.
            </p>

        </div>

        <div class="header-action">

            <app-button label="Add Airport" icon="fa fa-plus" (click)="openAddAirportForm()">
            </app-button>

        </div>

    </section>


    <!-- =====================================================
       AIRPORT FORM
  ====================================================== -->

    @if (showForm) {

    <section class="airport-form-section">

        <app-global-form [title]="formTitle" [fields]="formFields" [buttons]="buttons"
            (submitForm)="onFormSubmit($event)" (cancelForm)="onFormCancel()" (fieldChange)="onFieldChange($event)">
        </app-global-form>

    </section>

    }


    @if (!showForm) {

  <section class="airport-table-section">

    <app-data-table
      [columns]="columns"
      [data]="airports"
      [loading]="loading"
      [totalRecords]="totalRecords"
      [pageNumber]="pageNumber"
      [pageSize]="pageSize">
    </app-data-table>

  </section>

}

</div>