<div class="branches-container">

  @if (!showAddBranchForm) {

  <div class="page-header">

    <div>

      <h2>Branches</h2>

      <p>Manage branches</p>

    </div>

    <app-button type="button" label="Add Branch" icon="fa fa-plus" variant="primary" size="medium"
      (clicked)="openAddBranchForm()">
    </app-button>

  </div>


  <app-data-table [data]="branches" [columns]="columns" [actions]="actions" [loading]="loading"
    [pageNumber]="pageNumber" [pageSize]="pageSize" [totalRecords]="totalRecords" [showSearch]="true"
    (searchChange)="onSearch($event)" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">

  </app-data-table>

  }


  @if (showAddBranchForm) {

    <app-global-form
    [title]="'Add Branch'"
    [model]="branchModel"
    [fields]="formFields"
    [buttons]="formButtons"
    [loading]="saving"
    (submitForm)="addBranch($event)"
    (cancelForm)="cancelAddBranch()">
  </app-global-form>

  }

</div>