<div class="provinces-container">

    @if (!showProvinceForm) {

    <div class="page-header">

        <div>

            <h2>Provinces</h2>

            <p>Manage provinces</p>

        </div>
<app-button
  label="+ Add Province"
  type="button"
  variant="primary"
  (click)="openProvinceForm()">
</app-button>

    </div>


    <app-data-table [data]="provinces" [columns]="columns" [loading]="loading" [pageNumber]="pageNumber"
        [pageSize]="pageSize" [totalRecords]="totalCount" [showSearch]="true" (searchChange)="onSearch($event)"
        (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
    </app-data-table>

    }


    @if (showProvinceForm) {

    <app-global-form [title]="'Add Province'" [model]="provinceModel" [fields]="formFields" [buttons]="formButtons"
        [loading]="saving" (submitForm)="addProvince($event)" (cancelForm)="closeProvinceForm()">

    </app-global-form>

    }

</div>