<div class="airlines-container">

  <!-- =====================================================
       HEADER
       ===================================================== -->

  <div class="page-header">

    <div>
      <h2>Airlines</h2>
      <p>Manage airlines</p>
    </div>

    <app-button type="button" label="Add Airline" icon="fa fa-plus" variant="primary" size="medium"
      (clicked)="openAddAirlineForm()">
    </app-button>

  </div>


  <!-- =====================================================
       ADD AIRLINE FORM
       ===================================================== -->

  @if (showAddAirlineForm) {

  <div class="airline-form-container">

    <div class="form-header">

      <div>
        <h3>Add Airline</h3>
        <p>Enter airline information</p>
      </div>

      <app-button
  type="button"
  icon="fa fa-times"
  size="small"
  variant="primary"
  (clicked)="cancelAddAirline()">
</app-button>

    </div>

   <app-global-form
  [model]="airlineModel"
  [fields]="formFields"
  [buttons]="formButtons"
  [loading]="saving"
  (submitForm)="addAirline($event)"
  (cancelForm)="cancelAddAirline()"
  (fieldChange)="onFieldChange($event)">
</app-global-form>

  </div>

  }


  <!-- =====================================================
       EDIT AIRLINE FORM
       ===================================================== -->

  @if (showEditForm) {

  <div class="airline-form-container">

    <div class="form-header">

      <div>
        <h3>Edit Airline</h3>
        <p>Update airline information</p>
      </div>

      <app-button type="button" icon="fa fa-times" variant="ghost" size="small" (clicked)="cancelEditAirline()">
      </app-button>

    </div>

    <app-global-form [model]="editModel" [fields]="editFormFields" [buttons]="editFormButtons" [loading]="saving"
      (submitForm)="updateAirline($event)" (cancelForm)="cancelEditAirline()" (fieldChange)="onFieldChange($event)">
    </app-global-form>

  </div>

  }


  <!-- =====================================================
       AIRLINES TABLE
       ===================================================== -->

  <app-data-table [data]="airlines" [columns]="columns" [actions]="actions" [loading]="loading"
    [totalRecords]="totalRecords" [pageNumber]="pageNumber" [pageSize]="pageSize" (searchChange)="onSearch($event)"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
    (actionClick)="onActionClick($event)">
  </app-data-table>

</div>